.player{
	min-height: 20vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.time-control{
	width: 70%;
	display: flex;

	input{
		width: 100%;
		cursor: pointer;
	}

	p{
		padding: 1rem;
	}
}

.play-control{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	width: 30%;
	svg{
		cursor: pointer;
	}
}

// input[type="range"]:focus{
// 	outline: none;
// }

// input[type="range"]::-webkit-slider-thumb{
// 	-webkit-appearance: none;
// 	height: 1rem;
// 	width: 1rem;
// 	border-radius: 50%;
// 	background: lightcoral;
// }

// input[type="range"]::-webkit-slider-runnable-track{
// 	-webkit-appearance: none;
// 	background: white;
// 	border-radius: 10px;
// 	border-color: whi;
// }

@media screen and (max-width: 768px){
	.time-control{
		width: 90%;
	}
	.play-control{
		width: 60%;
	}
}